{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block nav %}transparent{% endblock nav %}

{% block content %}
    <!-- ==========================================SHOWCASE===================================================== -->
    <section class="showcase mb-5">
        <div class="showcase-content">
            <h1 data-aos="fade-down">Hello! I'am Dmitry Takkand.</h1>
            <h5 data-aos="fade-up">Professional geologist, hobbyist Python/Java developer.</h5>
            <h5 class="mb-4" data-aos="fade-up">Welcome to my sandox site, where I try my skills in web development</h5>
            <div data-aos="fade-up" data-aos-delay="200"><a id="contact-btn" href="#" class="btn btn-primary big">Contact
                me</a>
            </div>
        </div>
    </section>

    <!-- ============================================TOOLS====================================================== -->
    <section class="tools my-5">
        <div class="container">
            <h2 class="h2 text-center mb-5 text-uppercase">Tools</h2>
            <div class="row">
                <div class="col-md mb-4" data-aos="fade-up" data-aos-delay="0">
                    <div class="card">
                        <div class="card-img" id="calculator"></div>
                        <div class="card-body">
                            <h4 class="card-title">Water calculator</h4>
                            <p class="card-text text-secondary">Get water density and viscosity based on
                                temperature and salinity</p>
                            <a href="{% url 'water' %}" class=" btn btn-outline-primary">Calculate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img" id="water"></div>
                        <div class="card-body">
                            <h4 class="card-title">Drawdown</h4>
                            <p class="card-text text-secondary">Computing drawdown caused by pumping well</p>
                            <a href="{% url 'sub' %}" class=" btn btn-outline-primary">Compute</a>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="card">
                        <div class="card-img" id="distance"></div>
                        <div class="card-body">
                            <h4 class="card-title">Distance</h4>
                            <p class="card-text text-secondary">Calculate distance between wells and points on surface
                            </p>
                            <a href="{% url 'distance' %}" class=" btn btn-outline-primary">Measure</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============================================DB======================================================== -->
    <section class="db mb-5">
        <div class="container">
            <h2 class="text-uppercase text-center mb-5">Databases</h2>
            <div id="row1" class="row mb-5">
                <div class="col-md" data-aos="fade-right">
                    <img src="{% static 'img/db/well.jpg' %}" class="img-fluid rounded-sm" alt="Image">
                </div>
                <div class="col-md">
                    <h2 class="pb-3">Oil wells database</h2>
                    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur
                        mollitia provident
                        necessitatibus ipsam nemo minima tempora vel debitis porro voluptatem.</p>
                    <a href="#" class="btn btn-outline-primary">Explore</a>
                </div>
            </div>
            <div id="row2" class="row">
                <div class="col-md">
                    <h2 class="pb-3">Oil fields database</h2>
                    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur
                        mollitia provident
                        necessitatibus ipsam nemo minima tempora vel debitis porro voluptatem.</p>
                    <a href="{% url 'fields' %}" class="btn btn-outline-primary">Explore</a>
                </div>
                <div class="col-md" data-aos="fade-left">
                    <img src="{% static 'img/db/field.jpg' %}" class="img-fluid rounded-sm" alt="Image">
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================CAROUSEL==================================================== -->
    <section class="carousel">
        <div class="container-fluid">
            <h2 class="text-uppercase text-center pt-5 mb-5">Work with</h2>
            <div class="owl-carousel pb-5">
                <div>
                    <img src="{% static 'img/companies/gazprom.jpg' %}" alt="gazprom" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/russneft.jpg' %}" alt="russneft" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/rosneft.jpg' %}" alt="rosneft" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/surgut.jpg' %}" alt="surgut" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/slavneft.jpg' %}" alt="slavneft" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/lukoil.jpg' %}" alt="lukoil" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/novatek.jpg' %}" alt="novatek" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/salym.jpg' %}" alt="salym" srcset="">
                </div>
                <div>
                    <img src="{% static 'img/companies/bashneft.jpg' %}" alt="bashneft" srcset="">
                </div>

            </div>
        </div>
    </section>


    <!-- ============================================CONTACT====================================================== -->
    <section id="contact" class="contact py-5">
        <div class="container-md">
            <h2 class="text-center mb-3 text-uppercase">Contact me</h2>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row mb-3">
                        <div class="col-md">
                            <div class="from-group">
                                <input type="text" class="form-control" name="name" id="name" required
                                       placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="from-group">
                                <input type="email" name="email" class="form-control" id="email" required
                                       aria-describedby="emailHelp"
                                       placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    <textarea id="message" name="message" class="form-control" rows="8" required placeholder="Message"
                              aria-label="With textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-0">Send Message</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}