{% extends '_base.html' %}
{% load static %}

{% block title %}| Понижения{% endblock %}

{% block content %}
    <div class="container">

        <h2 class="text-center py-3">Calculate drawdown caused by pumping wells</h2>

        <div id="drop_zone">Drop excel file here</div>

        <form class="form-horizontal" action="">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label class="control-label" for="step">Grid step, m</label>
                        <input type="number" class="form-control" id="step" value="200">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label class="control-label" for="margin">Grid margin, m</label>
                        <input type="number" class="form-control" id="margin" value="3000">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label class="control-label" for="margin">Additional drawdown</label>
                        <input type="number" class="form-control" id="field" value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="checkbox">
                        <label><input type="checkbox" id="tableCheckBox" checked>
                            Table</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="imageCheckBox">Map</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="gridCheckBox">Grid</label>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn btn-success" id="calculate" disabled>Calculate</button>
        <button class="btn btn-danger" id="del" disabled>Clear</button>

        <div id="progress_div" class="mb-2">
            <div id="progress"></div>
        </div>

        <div class="table-responsive" id="table">
        </div>
        <div class="container" id="chart"></div>
    </div>

{% endblock content %}


{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    <script src="{% static 'js/libs/FileSaver.min.js' %}"></script>
    <script src="{% static 'js/libs/xlsx.full.min.js' %}"></script>
    <script src="{% static 'js/ei.js' %}"></script>
    <script src="{% static 'js/sub.js' %}"></script>
{% endblock scripts %}