.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.bold {
    font-weight: 800;
}

.transparent {
    background: rgba(0, 0, 0, 0) !important;
}

.big-padding {
    padding: 2rem !important;
}

.text-secondary {
    color: #939393 !important;
}

@media (max-width:768px) {
    .transparent {
        background: $dark !important;
    }
}