{% extends '_base.html' %}
{% load static %}

{% block title %}| Fields database{% endblock %}


{% block content %}
<div class="container mt-2">
    <table class="table" id="data-table">
        <thead class="thead-dark">
            <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                <th onclick="sortTable(this)">Field</th>
                <th onclick="sortTable(this)">Type</th>
                <th onclick="sortTable(this)">Location</th>
                <th onclick="sortTable(this)">Owner</th>
                <th onclick="sortTable(this)">Map</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
            <tr>
                <td>
                    <a href="{% url 'field_detail' field.id %}">{{field.name}}</td></a>
                <td>{{field.type}}</td>
                <td>{{field.location}}</td>
                <td>{{field.owner}}</td>
                <td>
                    {% if field.obzor_img%}
                    <a href="{{ field.obzor_img.url }}"><img class="obzor-min" src="{{ field.obzor_img.url }}" /></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% block scripts %}

{% endblock scripts %}