{% extends '_base.html' %}
{% block title %}{{ field.title }}{% endblock title %}
{% block content %}

    <div class="container">
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="my-3">{{ field.name }} {{ field.type }} field</h1>
            <hr>

            <!-- Date/Time -->
            {% if field.owner %}
                <p><strong>Owner: </strong>{{ field.owner }}</p>
            {% endif %}

            {% if field.location %}
                <p><strong>Location: </strong>{{ field.location }}</p>
            {% endif %}

            {% if field.type %}
                <p><strong>Type: </strong>{{ field.type }}</p>
            {% endif %}

            <!-- Image -->
            {% if field.map %}
                <img class="mx-auto obzor-full" src="{{ field.map.url }}" alt="">
                <hr>
            {% endif %}



            {% if field.description %}
                <p>{{ field.description }}</p>
            {% endif %}
            
            <a class="btn btn-outline-danger" href="{% url 'field-edit' field.pk %}">Edit field</a>
        </div>

    </div>

{% endblock content %}