{% extends '_base.html' %}
{% load static %}

{% block title %}Wells database{% endblock %}


{% block content %}
    <div class="container mb-3">
        <h2 class="text-center my-3">Wells database</h2>
        <div class="row">
            <div class="col-md-9">
                <table class="table" id="data-table">
                    <thead class="thead-dark">
                    <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                        <th>Well</th>
                        <th>Oil field</th>
                        <th>Type</th>
                        <th>Altitude</th>
                        <th>MD</th>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for well in wells %}
                        <tr>
                            <td>{{ well.name }}</td>
                            <td>{{ well.field }}</td>
                            <td>{{ well.type }}</td>
                            <td>{{ well.altitude }}</td>
                            <td>{{ well.md }}</td>
                            <td>{{ well.x }}</td>
                            <td>{{ well.y }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md">
                <div id="db-controls" class="card text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#"><i class="fas fa-plus-circle"></i> Add well</a></li>
                        <li class="list-group-item"><a href="{% url 'load-wells' %}"><i class="fas fa-download"></i>
                            Load
                            wells</a></li>
                        <li class="list-group-item"><a href="#"> <i class="fas fa-trash-alt"></i> Delete wells</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}


{% block scripts %}

{% endblock scripts %}