{% extends '_base.html' %}
{% load static %}

{% block title %}| Печать{% endblock %}

{% block content %}
<div class="cont">
    <div class="form-group">
        <label> <strong>Первая страница</strong></label>
        <input type="text" class="form-control" id="first">
    </div>
    <div class="form-group">
        <label><strong>Последняя страница</strong></label>
        <input type="text" class="form-control" id="last">
    </div>
    <div class="form-group">
        <label for="inputText"><strong>Ввод листов</strong></label>
        <textarea class="form-control" id="inputText" rows="10"></textarea>
        <button class="btn btn-danger my-button mt-3 mb-0" type="submit" id="clear">Очистить</button>
    </div>



    <label><strong>Черно-белые</strong></label>
    <div class="input-group mb-3">
        <input type="text" class="form-control my-input" id="black">
        <div class="input-group-append">
            <button class="btn btn-success my-button" type="submit" id="copyBlack"><i class="fa fa-copy"></i></button>
        </div>
    </div>
    <label><strong>Цветные</strong></label>
    <div class="input-group mb-3">
        <input type="text" class="form-control my-input" id="color">
        <div class="input-group-append">
            <button class="btn btn-success my-button" type="submit" id="copyColor"><i class="fa fa-copy"></i></button>
        </div>
    </div>

</div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/print.js' %}"></script>
{% endblock scripts %}